<% layout('/layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">Edit SafetyPin</h1>
        <div class="col-6 offset-3">
            <form action="/safetypins/<%= safetypin._id %>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-lable" for="location">Location</label>
                    <input class = "form-control" type="text" name="safetypin[location]" id="location" value="<%= safetypin.location %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-lable" for="address">Address</label>
                    <input class = "form-control" type="text" name="safetypin[address]" id="address" value="<%= safetypin.address %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-lable" for="safety_index">Safety Index</label>
                    <div class="input-group">
                        <span class="input-group-text" id="index-lable">*</span>
                        <input type="text" class="form-control" id = "safety_index" placeholder="0.00" 
                        aria-label="Username" aria-describedby="index-lable" name="safetypin[safety_index]" value="<%= safetypin.safety_index %>" required> 
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-lable" for="description">Description</label>
                    <textarea class = "form-control" type="text" name="safetypin[description]" id="description" required><%= safetypin.description %> </textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-file custom-file">
                        <input type="file" class="form-file-input" id="image" name="image" multiple>
                        <label class="form-file-label" for="image">
                            <span class="form-file-text custom-file-label">Add image(s)...</span>
                            <span class="form-file-button">Browse</span>
                        </label>
                    </div>
                </div>
                <div class="mb-3">
                    <% safetypin.images.forEach(function(img, i) {  %>
                    <img src="<%=img.thumbnail %>" class="img-thumbnail" alt="">
                    <div class="form-check-inline">
                        <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                    </div>
                    <label for="image-<%=i%>">Delete?</label>
                    <% })%>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Update Safety Pin</button>
                </div>
            </form>
            <a href="/safetypins/<%= safetypin._id %> ">Back</a>
        </div>
    </div>
