<% layout('/layouts/boilerplate') %>
    <h1>All Safety Pins</h1>
    <div>
        <a href="/safetypins/new">Add new Safety Pin</a>
    </div>
    <ul>
        <% for(let safetypin of safetypins) { %> 
            <div class="card">
                <div class="row">
                    <div class="col-md-4">
                        <% if(safetypin.images.length) {%> 
                        <img src="<%= safetypin.images[0].url %> " alt="" class="img-fluid">
                        <% } else { %>
                            <img src="" alt="">
                        <% } %>  
                    </div>
                    <div class="col-mg-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= safetypin.location %>
                            </h5>
                            <p class="card-text">
                                <%= safetypin.description %>
                            </p>
                            <p class="card-text">
                                <small class="text-muted"><%= safetypin.address %></small>
                            </p>
                            <a href="safetypins/<%= safetypin._id %>" class="btn btn-primary"> View <%= safetypin.location %> </a>
                        </div>
                    </div>
                </div>
            </div>
        <% } %> 
    </ul>
